@layer theme, base, components, utilities;
@import "tailwindcss";

@import "tailwindcss";


@theme{
  --color-primary:#3399FF;
  --color-primary-alt:#3864F5;
  --color-surface:#EAF5FF;
  --breakpoint-sm:640px;
  --breakpoint-md:768px;
  --breakpoint-lg:1200px;
  --font-family-sans:'Inter', system-ui, sans-serif;
  --gradient-primary:linear-gradient(to bottom right, var(--color-primary) 0%, var(--color-primary-alt) 100%);
  --color-text:#6C7278;
  --color-muted:#F9FAFB;
}


html{
  scroll-behavior:smooth;
}

@layer base {
  h1 {
    font-size:var(--text-6xl);
    line-height:4rem;
    font-weight:700;
  } 

  h2 {
    font-size: var(--text-2xl);
  }

  h3 {
    font-size: var(--text-xl);
    line-height:1;
  }

  h4{
    font-size:var(--text-xs);
    font-weight:var(--font-bold)
  }

  a {
    color: var(--color-gray-600);
    text-decoration-line: none;
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xl);
  }

  p{
    color:var(--color-text);
    font-size:var(--text-xl)
  }


}


@layer utilities{
  .bg-gradient-primary{
    background-image:var(--gradient-primary)
  }

  .bg-muted{
    background-color: var(--color-muted);
  }
  
}


@layer components{
  .card{
    @apply m-auto p-12 bg-primary-alt flex flex-col justify-center w-64 rounded-lg text-white shadow cursor-pointer;
  }

  .btn-primary{
    @apply text-xl font-medium text-white px-6 py-3 rounded-lg focus-visible:outline-primary transition-all duration-200 ease-in-out cursor-pointer whitespace-nowrap;
    background-image: var(--gradient-primary);
    background-size: cover;
    background-position: center;
    /* use subtle opacity on hover rather than switching to a flat color */
    @apply hover:opacity-95;
  }
  .btn-secondary{
    @apply text-xl font-medium bg-white text-primary hover:bg-primary hover:text-white  px-6 py-4 rounded-lg  focus-visible:outline-primary transition-all duration-200 ease-in-out cursor-pointer  whitespace-nowrap;

  }

}








